* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

.header {
   display: flex;
   flex-direction: column;
   background-color: #1f2937;
   color: #f9faf8;
}

.header-pt1 {
   display: flex;
   justify-content: space-around;
   margin: 1rem
}

.header-pt1 p {
   font-weight: 700;
}

.nav-list {
   list-style: none;
   display: flex;
   gap: 1rem;
   font-size: 18px;
}

.nav-list a {
   text-decoration: none;
   color: #e5e7eb;
}

.hero-main-text {
   font-size: 48px;
   font-weight: 900;
}

.header-pt2-1 :nth-child(2) {
   color: #e5e7eb;
}

.header-pt2 {
   display: flex;
   justify-content: center;
}

.header-pt2-2 {
   width: 100px;
}

