* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

.header {
   display: flex;
   flex-direction: column;
   background-color: #1f2937;
   color: #f9faf8;
}

.header-pt1 {
   display: flex;
   justify-content: space-between;
}

.nav-list {
   list-style: none;
   display: flex;
   gap: 1rem;
}

.nav-list a {
   text-decoration: none;
   color: inherit;
}
